body {
    background-color: #202020;
    padding: 0;
    margin: 0;
}

.tile-container {
    line-height: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.tile {
    width: var(--tile-width);
    display: inline-block;
}

.dummy-text {
    padding: 15%;
    color: darkgrey;
}

:root {
    --tile-width: 9.85vw;
}